# DataFrames

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [3]:
np.random.randn(5,4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [4]:
df = pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [5]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [8]:
df[['W', 'Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905
C  0.807706  0.638787
D -0.497104 -0.943406
E -0.116773  0.238127

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame
- df['W']
- df[['W','Z']]
- df.W -- SQL syntax - not recommended

In [25]:
df

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [ ]:
d

In [16]:
df[['W', 'Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905
C  0.807706  0.638787
D -0.497104 -0.943406
E -0.116773  0.238127

In [18]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [22]:
df.loc[['A','B']][['Y', 'Z']]

          Y         Z
A -1.706086 -1.159119
B  0.166905  0.184502

DataFrame Columns are just Series
- check the type of df['W']

**Creating a new column:**
- new column by addition of two columns df['W'] + df['Y']
- new column by assigning a scalar value df['age']=40

In [43]:
df['V'] = df['Z'] + 20

In [44]:
df['takehome'] = df['Z'] - df['Z'] * df['V']

In [49]:
df[df['takehome']< 0] = 0

In [50]:
df

          W         X         Y         Z          V  takehome
A  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
B  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
C  2.154846 -0.610259 -0.755325 -0.346419  19.653581  6.461946
D  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
E  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000

In [48]:
df

          W         X         Y         Z          V   takehome
A -0.993263  0.196800 -1.136645  0.000366  20.000366  -0.006963
B  1.025984 -0.156598 -0.031579  0.649826  20.649826 -12.768964
C  2.154846 -0.610259 -0.755325 -0.346419  19.653581   6.461946
D  0.147027 -0.479448  0.558769  1.024810  21.024810 -20.521631
E -0.925874  1.862864 -1.133817  0.610478  20.610478 -11.971764

In [39]:
df[df['takehome']<0] = 0

In [40]:
df

          W         X         Y         Z          V   takehome
A  0.302665  1.693723 -1.706086 -1.159119  18.840881  20.679711
B  0.000000  0.000000  0.000000  0.000000   0.000000   0.000000
C  0.000000  0.000000  0.000000  0.000000   0.000000   0.000000
D  0.000000  0.000000  0.000000  0.000000   0.000000   0.000000
E  0.000000  0.000000  0.000000  0.000000   0.000000   0.000000

** Removing Columns**
- df.drop(<name of the column>, axis = 1)
- df.drop(<name of the row>, axis = 0)
- use inplace for permanent drop

** Selecting Columns**

In [40]:
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [38]:
df[df['W']> 0]

          W         X         Y         Z          V   takehome
A  0.302665  1.693723 -1.706086 -1.159119  18.840881  20.679711
C  0.807706  0.072960  0.638787  0.329646  20.329646  -6.371946

In [34]:
df[df['W'] > 0]

          W         X         Y         Z          V   takehome
A  0.302665  1.693723 -1.706086 -1.159119  18.840881  20.679711
C  0.807706  0.072960  0.638787  0.329646  20.329646  -6.371946