# Data Input and Output

In [2]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [3]:
df = pd.read_csv('cricketdata.csv')

In [4]:
fi = df[df['1']==1]

In [5]:
sum(fi[fi['4'] =='PD Collingwood']['7'])

46

In [41]:
df.apply.__doc__

"\n        Apply a function along an axis of the DataFrame.\n\n        Objects passed to the function are Series objects whose index is\n        either the DataFrame's index (``axis=0``) or the DataFrame's columns\n        (``axis=1``). By default (``result_type=None``), the final return type\n        is inferred from the return type of the applied function. Otherwise,\n        it depends on the `result_type` argument.\n\n        Parameters\n        ----------\n        func : function\n            Function to apply to each column or row.\n        axis : {0 or 'index', 1 or 'columns'}, default 0\n            Axis along which the function is applied:\n\n            * 0 or 'index': apply function to each column.\n            * 1 or 'columns': apply function to each row.\n        broadcast : bool, optional\n            Only relevant for aggregation functions:\n\n            * ``False`` or ``None`` : returns a Series whose length is the\n              length of the index or the number of columns (based on the\n              `axis` parameter)\n            * ``True`` : results will be broadcast to the original shape\n              of the frame, the original index and columns will be retained.\n\n            .. deprecated:: 0.23.0\n               This argument will be removed in a future version, replaced\n               by result_type='broadcast'.\n\n        raw : bool, default False\n            * ``False`` : passes each row or column as a Series to the\n              function.\n            * ``True`` : the passed function will receive ndarray objects\n              instead.\n              If you are just applying a NumPy reduction function this will\n              achieve much better performance.\n        reduce : bool or None, default None\n            Try to apply reduction procedures. If the DataFrame is empty,\n            `apply` will use `reduce` to determine whether the result\n            should be a Series or a DataFrame. If ``reduce=None`` (the\n            default), `apply`'s return value will be guessed by calling\n            `func` on an empty Series\n            (note: while guessing, exceptions raised by `func` will be\n            ignored).\n            If ``reduce=True`` a Series will always be returned, and if\n            ``reduce=False`` a DataFrame will always be returned.\n\n            .. deprecated:: 0.23.0\n               This argument will be removed in a future version, replaced\n               by ``result_type='reduce'``.\n\n        result_type : {'expand', 'reduce', 'broadcast', None}, default None\n            These only act when ``axis=1`` (columns):\n\n            * 'expand' : list-like results will be turned into columns.\n            * 'reduce' : returns a Series if possible rather than expanding\n              list-like results. This is the opposite of 'expand'.\n            * 'broadcast' : results will be broadcast to the original shape\n              of the DataFrame, the original index and columns will be\n              retained.\n\n            The default behaviour (None) depends on the return value of the\n            applied function: list-like results will be returned as a Series\n            of those. However if the apply function returns a Series these\n            are expanded to columns.\n\n            .. versionadded:: 0.23.0\n\n        args : tuple\n            Positional arguments to pass to `func` in addition to the\n            array/series.\n        **kwds\n            Additional keyword arguments to pass as keywords arguments to\n            `func`.\n\n        Notes\n        -----\n        In the current implementation apply calls `func` twice on the\n        first column/row to decide whether it can take a fast or slow\n        code path. This can lead to unexpected behavior if `func` has\n        side-effects, as they will take effect twice for the first\n        column/row.\n\n        See also\n        --------\n        DataFrame.applymap: For elementwise operations\n        DataFrame.aggregate: only perform aggregating type operations\n        DataFrame.transform: only perform transformating type operations\n\n        Examples\n        --------\n\n        >>> df = pd.DataFrame([[4, 9],] * 3, columns=['A', 'B'])\n        >>> df\n           A  B\n        0  4  9\n        1  4  9\n        2  4  9\n\n        Using a numpy universal function (in this case the same as\n        ``np.sqrt(df)``):\n\n        >>> df.apply(np.sqrt)\n             A    B\n        0  2.0  3.0\n        1  2.0  3.0\n        2  2.0  3.0\n\n        Using a reducing function on either axis\n\n        >>> df.apply(np.sum, axis=0)\n        A    12\n        B    27\n        dtype: int64\n\n        >>> df.apply(np.sum, axis=1)\n        0    13\n        1    13\n        2    13\n        dtype: int64\n\n        Retuning a list-like will result in a Series\n\n        >>> df.apply(lambda x: [1, 2], axis=1)\n        0    [1, 2]\n        1    [1, 2]\n        2    [1, 2]\n        dtype: object\n\n        Passing result_type='expand' will expand list-like results\n        to columns of a Dataframe\n\n        >>> df.apply(lambda x: [1, 2], axis=1, result_type='expand')\n           0  1\n        0  1  2\n        1  1  2\n        2  1  2\n\n        Returning a Series inside the function is similar to passing\n        ``result_type='expand'``. The resulting column names\n        will be the Series index.\n\n        >>> df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)\n           foo  bar\n        0    1    2\n        1    1    2\n        2    1    2\n\n        Passing ``result_type='broadcast'`` will ensure the same shape\n        result, whether list-like or scalar is returned by the function,\n        and broadcast it along the axis. The resulting column names will\n        be the originals.\n\n        >>> df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')\n           A  B\n        0  1  2\n        1  1  2\n        2  1  2\n\n        Returns\n        -------\n        applied : Series or DataFrame\n        "

In [42]:
df.head()

      1    2        3               4               5      6  7  8    9   10
ball  1  0.1  England  ME Trescothick        GO Jones  B Lee  0  0  NaN  NaN
ball  1  0.2  England  ME Trescothick        GO Jones  B Lee  1  0  NaN  NaN
ball  1  0.3  England        GO Jones  ME Trescothick  B Lee  0  0  NaN  NaN
ball  1  0.4  England        GO Jones  ME Trescothick  B Lee  0  0  NaN  NaN
ball  1  0.5  England        GO Jones  ME Trescothick  B Lee  0  0  NaN  NaN

In [40]:
fi.groupby('4').sum()['7']

4
A Flintoff         6
AJ Strauss        18
GO Jones          19
KP Pietersen      34
ME Trescothick    41
MP Vaughan         0
PD Collingwood    46
VS Solanki         9
Name: 7, dtype: int64

In [28]:
fi['each_ball'] = fi['7'] + fi['8']

D:\sw\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
sum(fi['each_ball'])

179

In [23]:
sum(fi['7'])

173

In [25]:
sum(fi['8'])

6

In [26]:
sum(fi['7']) + sum(fi['8'])

179

In [6]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [43]:
fi.head()

,1,2,3,4,5,6,7,8,9,10,each_ball
ball,1,0.1,England,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN,0
ball,1,0.2,England,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN,1
ball,1,0.3,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0
ball,1,0.4,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0
ball,1,0.5,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0

In [45]:
fi[fi['4']=='PD Collingwood']['7'].value_counts()

1    12
0     6
4     5
6     2
2     1
Name: 7, dtype: int64

In [57]:
fi['2'].apply(int) + 1

ball     1
ball     1
ball     1
ball     1
ball     1
ball     1
ball     1
ball     2
ball     2
ball     2
ball     2
ball     2
ball     2
ball     2
ball     3
ball     3
ball     3
ball     3
ball     3
ball     3
ball     4
ball     4
ball     4
ball     4
ball     4
ball     4
ball     5
ball     5
ball     5
ball     5
        ..
ball    16
ball    16
ball    16
ball    16
ball    16
ball    17
ball    17
ball    17
ball    17
ball    17
ball    17
ball    17
ball    18
ball    18
ball    18
ball    18
ball    18
ball    18
ball    19
ball    19
ball    19
ball    19
ball    19
ball    19
ball    20
ball    20
ball    20
ball    20
ball    20
ball    20
Name: 2, Length: 125, dtype: int64

In [53]:
fi['over']=fi['2'].apply(int)

D:\sw\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
fi.head()

,1,2,3,4,5,6,7,8,9,10,each_ball,over
ball,1,0.1,England,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN,0,0
ball,1,0.2,England,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN,1,0
ball,1,0.3,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0,0
ball,1,0.4,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0,0
ball,1,0.5,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,0,0

In [56]:
fi.groupby('over').sum()['each_ball']

over
0      4
1      2
2     14
3      9
4     14
5      7
6      8
7     10
8     14
9     11
10     8
11     4
12     4
13     2
14    13
15     8
16    17
17     8
18    10
19    12
Name: each_ball, dtype: int64

In [51]:
f=12.5
str(f).split('.')[0]
int(f)

12

In [7]:
df.columns = ['A', 'B', 'C', 'D']

In [8]:
df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [24]:
df.to_csv('example',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [35]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Excel Output

In [33]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')