In [1]:
def sayhi():
    print("Hi")

In [3]:
x = sayhi()

Hi

In [4]:
print(x)

None

In [5]:
def sayhi():
    print("Hi")
    return "Hi"

In [6]:
x = sayhi()

Hi

In [7]:
print(x)

Hi

In [9]:
def add(x, y):
    return x +y

In [10]:
add(4,5)

9

In [11]:
def sayhi():
    return "Hi"

In [12]:
a = 10

In [15]:
type(a), type(sayhi)

(int, function)

In [16]:
b = a

In [17]:
greet = sayhi

In [18]:
type(greet)

function

In [19]:
greet()

'Hi'

In [22]:
id(a), id(sayhi), id(greet)

(1535733088, 925708607136, 925708607136)

In [23]:
del sayhi

In [24]:
greet()

'Hi'

In [25]:
def execother(x):
    print(type(x))

In [26]:
execother(a)

<class 'int'>

In [27]:
execother(greet)

<class 'function'>

In [29]:
def execother(x):
    print(x())

In [30]:
execother(greet)

Hi

In [31]:
def sayhello():
    return "Hello"

In [32]:
execother(sayhello)

Hello

In [34]:
#First Order functions
def add(x,y):
    return x + y
def mul(x,y):
    return x * y

In [35]:
#Higher order functions
def calc(x,y,op):
    return op(x,y)

In [37]:
calc(3,4,add), calc(3,4,mul)

(7, 12)

In [38]:
def concat(x,y):
    return str(x)+str(y)

In [39]:
calc(3,4,concat)

'34'

In [40]:
li = ['bangalore', 'munnar', 'agra', 'baroda']

In [41]:
sorted(li)

['agra', 'bangalore', 'baroda', 'munnar']

In [42]:
li = ['bangalore', 'Munnar', 'agra', 'Baroda']

In [43]:
sorted(li)

['Baroda', 'Munnar', 'agra', 'bangalore']

In [47]:
def lowercase(x):
    return x.lower()

sorted(li, key= lowercase)

['agra', 'bangalore', 'Baroda', 'Munnar']

In [48]:
li

['bangalore', 'Munnar', 'agra', 'Baroda']

In [54]:
li = ['cc','aaa','dddd', 'bbbbbb']

In [55]:
sorted(li)

['aaa', 'bbbbbb', 'cc', 'dddd']

In [56]:
def tolen(x):
    return len(x)

sorted(li, key=tolen)

['cc', 'aaa', 'dddd', 'bbbbbb']

In [57]:
sorted(li, key=len)

['cc', 'aaa', 'dddd', 'bbbbbb']

In [60]:
li = [ [6,7,8], [9,0,0], [2,3,5]]

In [61]:
sorted(li)

[[2, 3, 5], [6, 7, 8], [9, 0, 0]]

In [62]:
sorted(li, key=sum)

[[9, 0, 0], [2, 3, 5], [6, 7, 8]]

In [64]:
li = ['Rohit Sharma', 'Virat Kohli', 'MS Dhoni', 'Manish Pandey']

In [65]:
def lnf(x):
    return x.split()[::-1]

sorted(li, key=lnf)

['MS Dhoni', 'Virat Kohli', 'Manish Pandey', 'Rohit Sharma']

In [66]:
lnf('MS Dhoni')

['Dhoni', 'MS']

In [67]:
for item in li:
    print(lnf(item))

['Sharma', 'Rohit']
['Kohli', 'Virat']
['Dhoni', 'MS']
['Pandey', 'Manish']

In [68]:
add(3,4)

x = 3
y = 4
add(x,y)

'Hello'

'Hello'

In [69]:
def add(x,y):
    return x + y

In [71]:
d = lambda x, y: x+y

In [73]:
d(3,4)

7

In [74]:
li = ['bangalore', 'Munnar', 'agra', 'Baroda']
def lowercase(x):
    return x.lower()

sorted(li, key= lowercase)

['agra', 'bangalore', 'Baroda', 'Munnar']

In [75]:
sorted(li, key= lambda x: x.lower())

['agra', 'bangalore', 'Baroda', 'Munnar']

In [76]:
li = ['Rohit Sharma', 'Virat Kohli', 'MS Dhoni', 'Manish Pandey']

In [77]:
sorted(li, key = lambda x: x.split()[::-1])

['MS Dhoni', 'Virat Kohli', 'Manish Pandey', 'Rohit Sharma']

In [78]:
def sayhi(name):
    def greet():
        print("Hi", name)
    return greet

In [81]:
x = sayhi('Aditya')
y = sayhi('Arun')
# print('Hi', 'Aditya')

In [82]:
type(x), type(y)

(function, function)

In [83]:
x()

Hi Aditya

In [84]:
y()

Hi Arun

In [85]:
def bill(item1, item2, tax):
    total = item1 + item2
    gt = total + total * tax
    return gt

In [86]:
bill(100,200, 0.05)

315.0

In [90]:
def bill(item1, item2):
    total = item1 + item2
    def withtax(tax):
        gt = total + total * tax
        return gt
    return withtax

In [91]:
b1 = bill(100,200)
b2 = bill(10,20)

In [93]:
b1(0.05), b2(0.18)

(315.0, 35.4)